Django==1.11.13
pytz==2018.4
whitenoise==3.3.1
gunicorn==19.7.1
django-countries==5.2
django-nocaptcha-recaptcha==0.0.20
directory-components==2.4.0
export-elements==0.12.2
git+https://github.com/uktrade/pir-api-client.git@0.0.6#egg=pir_client
