{% extends 'base.html' %}
{% load i18n static %}

{% block head_title %}{% trans "Personalised Investment Report:" %}{% endblock %}


{% block body_header %}
        {{ block.super }}
        <section id="heading_hero">
            <div class="jumbotron" style="background-image: url({% static 'header-image.jpg' %});">
            <div class="container">
                <div class="heading-container">
                  <div class="heading">
                  <h1>{% trans "PERFECT FIT" %}</h1>
                  </div>
                </div>
            </div>
          </div>
        </section>
{% endblock %}

{% block content %}
<section>
  <div class="container">
    <div class="grid-row">
      <div class="column-two-thirds">
        {% if error %}
                <p> {{ error }} </p>
        {% elif form %}

        <div id="formexplain">
              {% blocktrans %}
              <p>
              If you're thinking about expanding your business
              internationally, the UK could be the perfect fit.
              To explore what the UK has to offer, download your
              <span class="bold">Perfect Fit Prospectus</span> today.
              </p>
              <p>
              Simply enter your details below to access a wealth of
              insight into the UK's business environment tailored to
              your business together with help and advice.
              </p>
              {% endblocktrans %}
        </div>
      </div>
    </div>
    <form method="POST">
      {% csrf_token %}

      <p class="form-group">
        {{ form.name.errors }}
        <label class="form-label" for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
        {{ form.name }}
      </p>

      <p class="form-group">
        {{ form.company.errors }}
        <label  class="form-label" for="{{ form.company.id_for_label }}">{{ form.company.label }}</label>
        {{ form.company }}
      </p>

      <p class="form-group">
        {{ form.email.errors }}
        <label  class="form-label" for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
        {{ form.email }}
      </p>

      <p class="form-group">
        {{ form.country.errors }}
        <label  class="form-label" for="{{ form.country.id_for_label }}">{{ form.country.label }}</label>
        {{ form.country }}
      </p>

      <p class="form-group">
        {{ form.sector.errors }}
        <label  class="form-label" for="{{ form.sector.id_for_label }}">{{ form.sector.label }}</label>
        {{ form.sector }}
      </p>

        <div class="grid-row tandc-gdpr">
              <div class="column-two-thirds">
                <div>
                      {% blocktrans %}
                      <p>
                      The Department for International Trade will use the information provided in this form to send you your report. You can read about how we protect your data through our <a href="https://invest.great.gov.uk/privacy-and-cookies/" target="_blank">privacy policy</a>.
                      </p>
                      <p>
If you would like to receive further information about setting up your business in the UK, you can subscribe to our mailing list.
                </p>
                      {% endblocktrans %}
                </div>
            </div>
        </div>

      <p class="form-group tandc">
        {{ form.gdpr_optin.errors }}
        {{ form.gdpr_optin }}
        <label  class="check-label form-label" for="{{ form.gdpr_optin.id_for_label }}">
        {% blocktrans %}
        I would like to receive further information.
        {% endblocktrans %}
        </label>
      </p>

      <p class="form-group">
        {{ form.captcha.errors }}
        {{ form.captcha }}
      </p>

    <div>
      <input class="button" type="submit" value="{% trans "Submit" %}" />
    </div>

    </form>
    {% else %}
            <p>
        {% blocktrans %}
          Thank You. Your personalised Investment Report has been emailed to {{ email }}
        {% endblocktrans %}
            </p>
    {% endif %}

  </div>
</section>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

{% endblock %}
